<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="description" content="IoT Garden" />

    <title>IoT Garden</title>

    <link rel="stylesheet" type="text/css" href="/static/css/vis.min.css" /> 
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />


	<script src="/static/js/jquery-3.3.1.min.js"></script>
	<script src="/static/js/vis.min.js"></script>	
</head>


<body>
	<header><span>Умная теплица</span> IoT Samsung</header>

	<section id="schema-wrapper">
		<div id="schema-image"></div>

		<div id="valve-wrapper">
			<span>Клапан</span>
			<div id="label-valve">Открыт</div>
			<div id="button-valve">Закрыть</div>
		</div>

		<div id="window-wrapper">
			<span>Окно</span>
			<div id="label-window">Открыто</div>
			<div id="button-window">Закрыть</div>
		</div>

		<div id="temp-wrapper">
			<span>Температура</span>
			<div id="label-temp">22</div>
		</div>

		<div id="hum-wrapper">
			<span>Влажность</span>
			<div id="label-hum">50</div>
		</div>

		
		<div id="mode-wrapper">
			<span>Режим работы</span>
			<div id="label-mode">22</div>
			<div id="button-mode">Ручной</div>
		</div>

	</section>

	<section id="graph-wrapper">
		<div id="plot1-wrapper">
		</div>

		<div id="plot2-wrapper">
		</div>
	</section>

	<footer> ЮУрГУ Челябинск 2019</footer>

	<script src="/static/js/app_plot.js"></script>	
	<script src="/static/js/app_schema.js"></script>
	<script src="/static/js/app_webhook.js"></script>

</body>

</html>

